@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title-large {
        @apply text-6xl font-medium;
    }
}

:root {
    --color-fgcolor-neutral-primary: #000000;
    --neutral-50: #EDEDF0;
    --neutral-100: #E4E4E7;
    --neutral-200: #D8D8DB;
    --neutral-250: #C3C3C6;
    --neutral-300: #ADADB0;
    --neutral-500: #818186;
    --neutral-750: #000000;
    --neutral-800: #000000;
    --neutral-850: #000000;
    --neutral-900: #000000;
    --neutral-900-80: #000000CC; /* jet black with 80% opacity */
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-fgcolor-neutral-primary: #000000;
        --neutral-900: #000000;
    }
}

body {
    color: var(--neutral-250);
    background: var(--neutral-900);
    font-family: Arial, Helvetica, sans-serif;
}
